.img {
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
  width: 100%;
}

span {
  background-color: rgb(5, 167, 5);
  border-radius: 5px;
  color: white;
  max-width: 30px;
  text-align: center;
}

.text {
  margin-left: 10px;
}

.details-btn {
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  width: 30%;
}

.link {
  text-align: center;
}

.details-btn:hover {
  background-color: rgba(52, 152, 219, 1);
  box-shadow: 0 0 10px gray;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
  max-width: 350px;
  padding-bottom: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
}

.card:hover {
  box-shadow: 0 5px 15px black;
}
